body {
  font-family: 'Raleway', sans-serif;
}

.boss {
  border: 2px solid rgb(140, 140, 247);
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.manager {
  border: 2px solid rgb(59, 187, 219);
  margin: 50px;
}

.heading {
  width: 350px;
  text-align: center;
  color: rgb(63, 116, 129);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.Elements {
  display: flex;
  margin-top: 23px;
}
.left {
  flex: 44%;
  margin-left: 2px;
}
.mid {
  flex: 0%;
}
.line {
  width: 2px;
  height: 100%;
  background-color: rgb(23, 34, 30);
}
.right {
  flex: 44%;
}

h3{
  padding-left:20px !important;
  padding-right: 20px !important;
}
