THA16/card/node_modules
THA16/react-app/node_modules
THA17/node_modules
THA18/node_modules
THA19/node_modules
THA20/node_modules
THA21/node_modules
THA24/node_modules
node_modules
# Local Netlify folder
.netlify