@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

label {
  width: 100%;
  display: block;
  margin: 2px 2px;
  text-align: center;
}

form {
  width: 100%;
  height: 100%;
}

input {
  display: block;
  margin: 2px auto;
  width: 95%;
  border-radius: 5px;

}

.form {
  /* border: 2px solid red; */
  width: 280px;
  height: 134px;
  background-color: rgb(241, 143, 13);
  color: white;
  border-radius: 5px;
  box-shadow: 4px 5px 12px 4px #ccc;
  margin: 10px 0;
}

.btnsubmit {
  width: 95%;
  margin: 2px 8px;
  border-radius: 5px;
  background-color: brown;
  color: white;
  border: 1px solid brown;
  transition: all 1s ease-in-out;
}
h2{
  display: inline-block;
  margin-right: 165px;
}
.delete{
  background-color: rgb(241, 107, 107);
  color:white;
  border: 1px solid rgb(253, 145, 145);
  width:75px;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}
.delete:hover{
  background-color: rgb(248, 47, 47);
  border:1px solid rgb(252, 31, 31);
  
}
.btnsubmit:hover{
  background-color: rgb(216, 189, 70);
  border: 1px solid rgb(216, 189, 70);
}

.list-content {
  border: 2px solid black;
  min-height: 23px;
  padding: 2px 5px;
  box-shadow: 4px 5px 12px 4px #ccc;
  margin: 30px -37px;
  max-height: 400px;
  overflow-y: scroll;
}

.list-item {
  /* border: 2px solid green; */
  box-shadow: 4px 5px 12px 4px #ccc;
  padding: 2px 4px;
  margin: 6px 2px;
  background-color: rgb(243, 171, 76);
  color: white;
}

.noitems{
  text-align: center;
  border: 2px solid black;
  background-color: rgb(243, 171, 76);
  box-shadow: 4px 5px 12px 4px #ccc;
  
  color: white;
}
