@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
}


.app{
  width:100%;
  height:100vh;
  overflow: hidden;
}

.content{
  width: 50vw;
margin: auto;
padding: 3px 4px;
box-shadow: 3px 4px 5px 3px #ccc;
}



.h1{
  padding: 2px 7px;
text-align: center;
text-decoration: underline;
}
.list-item{
  background-color: rgb(68, 58, 58);
  color:white;
  padding: 0.5px 5px;
  border-radius: 5px;
  margin: 2px 0;
  box-shadow: -2px -2px 4px 3px #ccc;
}
.lists{
  overflow-y: scroll;
  width:100%;
  height: 400px;
}

.list-content{
  padding: 2px 11px;
  border: 2px solid gray;
  margin: 5px 4px;
}


button{
  padding:4px 4px;
background-color: rgb(173, 159, 142);
border-radius: 5px;
color:white;
border:1px solid black;
transition: all 0.7s ease-in-out;
}

button:hover{
  background-color: #ccc;
  color:black
}

.no-items{
text-align: center;
font-size: 20px;
}